*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar
{
    font-family:sans-serif;
    position: sticky;
    right: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px black;
    background-color: black;
}

.navbar .navbar-brand
{
font-size: 25px;
font-weight: 800px;
color: orange !important;
}

#navbarSupportedContent a
{
 border-bottom: 2px solid transparent;
}
    #navbarSupportedContent a:hover
{
  border-bottom: 2px solid orange;  
}
#navbarSupportedContent button
{
    background: orange;
    width: 7rem;
}

section{

    width: 100%;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content:center;
    align-items: center;
}

body{
    display:flex;
   background-image: url("orange2.jpg");
background-size: cover;
background-position: center;
flex-direction: column;
}

#Home h1{
    font-size: 50px;
    color: black;

    }
  p{
color: black;
font-size: large !important;
font-weight:500;

}

  #Home.footer h3{
    
    font-size: 10px;
    color: black;
    
}
.footer{
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    /* background-color: black; */
    color: black;
    text-align: center;
    padding: 10px 0;
}

.footer p{
    font-size:10px !important;
    color: black;
    }

    #home .input-group{
        /* display: flex;
        flex-direction: column; */
        width: 40%;
        height: 45px;
        
        
    }
    .signin{
        background-color: orange !important;
     color: black;  
    }
    